---
interface Skill {
  name: string;
  icon: string; // SVG path(s) for a 24x24 viewBox
}

interface SkillCategory {
  title: string;
  skills: Skill[];
}

const categories: SkillCategory[] = [
  {
    title: "Frontend",
    skills: [
      { name: "Next.js 15", icon: '<path d="M11.572 0c-.176 0-.31.001-.358.007a19.76 19.76 0 0 1-.364.033C7.443.346 4.25 2.185 2.228 5.012a11.875 11.875 0 0 0-2.119 5.243c-.096.659-.108.854-.108 1.747s.012 1.089.108 1.748c.652 4.506 3.86 8.292 8.209 9.695.779.253 1.621.422 2.58.487.332.022.657.032.893.038l.168.003V14.89l-.003-.003-3.567 5.243a.307.307 0 0 1-.263.143H6.152a.307.307 0 0 1-.256-.474l5.36-7.87-3.394-4.474a.307.307 0 0 1 .248-.489h1.975c.102 0 .198.05.255.135l2.44 3.266 2.44-3.266a.307.307 0 0 1 .255-.135h1.975a.307.307 0 0 1 .248.489l-3.37 4.44 5.34 7.838a.307.307 0 0 1-.256.475h-1.975a.307.307 0 0 1-.262-.143L14.225 14.9v8.1h.003c.258-.006.567-.016.89-.038a12.022 12.022 0 0 0 2.581-.488c4.35-1.402 7.558-5.189 8.21-9.695.096-.659.108-.854.108-1.747 0-.894-.012-1.089-.108-1.748-.652-4.506-3.86-8.292-8.21-9.695a12.033 12.033 0 0 0-2.58-.487 19.71 19.71 0 0 0-.724-.04C14.32.001 14.186 0 14.01 0h-2.438Z"/>' },
      { name: "React 19", icon: '<path d="M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.31 0-.594.066-.84.188C4.37 2.408 3.584 5.283 4.525 9.235c-3.956.952-6.525 2.77-6.525 4.771 0 2 2.571 3.819 6.526 4.77-.941 3.954-.156 6.83 1.737 7.723.245.12.53.187.838.187 1.346 0 3.107-.96 4.888-2.623 1.78 1.654 3.542 2.603 4.887 2.603.31 0 .594-.066.84-.188 1.893-.892 2.678-3.77 1.737-7.722 3.956-.952 6.525-2.77 6.525-4.771s-2.571-3.819-6.526-4.77c.941-3.954.156-6.83-1.737-7.723a1.88 1.88 0 0 0-.838-.187zM17.9 3.009c.676.32 1.074 1.684.724 3.758-.083.49-.191.983-.322 1.474a26.09 26.09 0 0 0-3.092-.523 26.45 26.45 0 0 0-1.989-2.388c1.512-1.41 2.922-2.18 3.84-2.33a1.1 1.1 0 0 1 .184-.015l.655.024zm-11.1.014a1.1 1.1 0 0 1 .142.007c.917.149 2.328.919 3.84 2.33a25.9 25.9 0 0 0-1.968 2.371 25.834 25.834 0 0 0-3.094.524c-.131-.49-.239-.984-.322-1.474-.351-2.075.048-3.439.724-3.758.119-.056.256-.084.412-.084l.266.084zm5.19 3.89a23.27 23.27 0 0 1 2.144 2.132 24.63 24.63 0 0 1-4.268 0A23.27 23.27 0 0 1 12 6.913zM8.068 8.8a24.103 24.103 0 0 1 1.555-1.848c-.756.135-1.486.306-2.178.508.2.651.437 1.317.71 1.987l-.087-.647zm7.777-.648c.202.651.44 1.317.713 1.988a22.976 22.976 0 0 0-2.266-.517 24.22 24.22 0 0 1 1.553-1.847v.376zM6.148 9.87c.354.858.755 1.72 1.199 2.573a22.532 22.532 0 0 1-1.2 2.573c-1.684-.446-2.925-1.023-3.6-1.576-.243-.198-.4-.393-.49-.571-.09-.179-.12-.337-.09-.466.033-.13.118-.28.31-.453.671-.605 2.008-1.22 3.871-1.68v-.4zm11.626.4c1.864.46 3.2 1.075 3.871 1.68.192.173.277.323.31.453.03.129 0 .287-.09.466-.09.178-.247.373-.49.571-.675.553-1.916 1.13-3.6 1.576a22.53 22.53 0 0 1-1.2-2.573c.445-.853.845-1.715 1.2-2.573v-.4zM12 9.84c.838 0 1.652.072 2.434.212-.314.612-.647 1.218-.998 1.813-.354.598-.72 1.173-1.098 1.722a22.058 22.058 0 0 1-1.098-1.722 22.914 22.914 0 0 1-.998-1.813 20.38 20.38 0 0 1 1.758-.212zm-3.905.86a21.6 21.6 0 0 0-.715 1.988 20.38 20.38 0 0 0 1.77.202c-.38-.594-.74-1.213-1.079-1.847l.024-.343zm7.81.343a22.592 22.592 0 0 1-1.079 1.847c.591-.054 1.19-.122 1.77-.202a21.6 21.6 0 0 0-.715-1.988l.024.343zM12 12.004c.474.658.932 1.336 1.371 2.03.44.693.851 1.396 1.232 2.098-.815.19-1.683.31-2.603.34a20.39 20.39 0 0 1-2.603-.34c.381-.702.793-1.405 1.232-2.098.44-.694.898-1.372 1.371-2.03zm-4.35 2.758c.274.67.574 1.334.899 1.988a25.828 25.828 0 0 1-2.178.507 24.032 24.032 0 0 1-.715-1.987l1.994-.508zm8.7.508a24.032 24.032 0 0 1-.715 1.987 25.828 25.828 0 0 1-2.178-.507c.325-.654.625-1.319.899-1.988l1.994.508zM12 17.087a23.27 23.27 0 0 1 2.134 2.132 24.77 24.77 0 0 1-4.268 0A23.27 23.27 0 0 1 12 17.087zm-5.1.894c.083.49.191.983.322 1.474.351 2.075-.048 3.439-.724 3.758-.676-.32-1.074-1.684-.724-3.758.083-.49.191-.984.322-1.474a26.087 26.087 0 0 0 3.094.524 25.867 25.867 0 0 0 1.968 2.371c-1.512 1.411-2.923 2.181-3.84 2.33a1.1 1.1 0 0 1-.142.007c-.156 0-.293-.028-.412-.084l-.266.084.402-5.232zm10.2 0 .402 5.232-.266-.084c-.119.056-.256.084-.412.084a1.1 1.1 0 0 1-.142-.007c-.917-.149-2.328-.919-3.84-2.33a25.9 25.9 0 0 0 1.968-2.371 25.839 25.839 0 0 0 3.094-.524c.131.49.239.984.322 1.474.351 2.075-.048 3.439-.724 3.758-.676-.32-1.074-1.684-.724-3.758z"/>' },
      { name: "TypeScript", icon: '<path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"/>' },
      { name: "Tailwind CSS", icon: '<path d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z"/>' },
      { name: "shadcn/ui", icon: '<path d="M21.15 2.85a.5.5 0 0 1 0 .707L3.557 21.15a.5.5 0 0 1-.707-.707L20.443 2.85a.5.5 0 0 1 .707 0z"/><path d="M14.15 21.15a.5.5 0 0 1 0-.707L21.743 12.85a.5.5 0 0 1 .707.707l-7.593 7.593a.5.5 0 0 1-.707 0z"/>' },
      { name: "Astro", icon: '<path d="M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944.71 1.126 1.732 1.482 2.8 1.674 1.652.296 3.274.234 4.846-.378.18-.07.35-.158.553-.252.115.75.086 1.478-.148 2.19-.427 1.3-1.315 2.147-2.523 2.66-.213.09-.44.15-.64.262-.605.337-.735.87-.337 1.446.023.033.046.066.07.1-.84.316-1.694.404-2.573.19-.986-.24-1.6-.896-2.01-1.948z"/><path d="M6.168 17.564a7.253 7.253 0 0 1-.16-.757 5.82 5.82 0 0 1 .803-4.037c.882-1.39 2.132-2.278 3.588-2.889.423-.177.86-.319 1.325-.434-.066.312-.135.584-.192.858-.186.888-.16 1.77.032 2.654.091.418.21.832.383 1.228.215.493.518.547.862.158.118-.132.22-.28.32-.43l.047.013c-.032.652-.09 1.305-.27 1.936-.281.984-.778 1.828-1.574 2.456-.406.32-.86.56-1.38.635-1.46.21-2.4-.523-2.487-1.948.005-.015.01-.03.014-.044-.41-.166-.764-.411-1.063-.731-.19-.204-.38-.408-.548-.668z"/><path d="M16.954 9.616c-.024.006-.036.014-.048.014-.88.047-1.652.34-2.343.86-.9.678-1.391 1.58-1.512 2.682-.011.1-.013.2-.02.34.3-.134.555-.275.823-.377 1.072-.408 2.164-.493 3.272-.155.675.206 1.195.595 1.484 1.262.33.758.332 1.544.056 2.319-.375 1.054-1.09 1.827-2.064 2.345-.205.11-.42.2-.632.296a6.12 6.12 0 0 0 2.62-1.822 5.956 5.956 0 0 0 1.345-3.104c.145-1.392-.04-2.72-.684-3.96-.28-.539-.618-1.036-1.018-1.494.246 0 .485-.002.724.002.91.013 1.667.326 2.21 1.088.06.085.113.176.172.268 0-.023.003-.046 0-.069-.175-1.268-1.073-2.412-2.292-2.879a4.36 4.36 0 0 0-2.093-.316z"/>' },
    ],
  },
  {
    title: "Backend",
    skills: [
      { name: "Node.js", icon: '<path d="M11.998 24c-.321 0-.641-.084-.922-.247L8.14 22.016c-.438-.245-.224-.332-.08-.383.585-.203.703-.25 1.328-.604.065-.037.151-.023.218.017l2.256 1.339a.29.29 0 0 0 .272 0l8.795-5.076a.277.277 0 0 0 .134-.238V6.921a.28.28 0 0 0-.137-.242l-8.791-5.072a.278.278 0 0 0-.271 0L3.075 6.68a.284.284 0 0 0-.139.241v10.15a.27.27 0 0 0 .138.236l2.409 1.392c1.307.654 2.108-.116 2.108-.89V7.787c0-.142.114-.253.256-.253h1.115c.139 0 .255.112.255.253v10.021c0 1.745-.95 2.745-2.604 2.745-.508 0-.909 0-2.026-.551L2.28 18.675a1.857 1.857 0 0 1-.922-1.604V6.921c0-.659.353-1.275.922-1.603L11.076.247a1.924 1.924 0 0 1 1.844 0l8.794 5.07c.572.329.924.945.924 1.604v10.15a1.86 1.86 0 0 1-.924 1.604l-8.794 5.078a1.834 1.834 0 0 1-.922.247z"/>' },
      { name: "Prisma ORM", icon: '<path d="M21.807 18.285L13.553.756a1.324 1.324 0 0 0-1.129-.754 1.31 1.31 0 0 0-1.206.626l-8.952 14.5a1.356 1.356 0 0 0 .016 1.455l4.376 6.778a1.408 1.408 0 0 0 1.58.581l12.703-3.757c.389-.115.694-.39.838-.753.144-.364.13-.768-.037-1.112l.065-.035zm-2.559.912l-9.882 2.919a.349.349 0 0 1-.434-.263.344.344 0 0 1 .016-.165l7.534-16.408a.346.346 0 0 1 .642.08l2.647 13.332a.342.342 0 0 1-.125.354.35.35 0 0 1-.398.15z"/>' },
      { name: "PostgreSQL", icon: '<path d="M17.128 0a10.134 10.134 0 0 0-2.755.403l-.063.02A10.922 10.922 0 0 0 12.6.258C11.422.238 10.403.524 9.594 1.01 8.97.745 7.786.315 6.508.2 4.973.063 3.276.416 2.05 1.88.478 3.762.14 6.89.606 9.934c.138.905.37 1.835.675 2.774.465 1.432 1.072 2.775 1.79 3.876.715 1.098 1.588 2.014 2.632 2.37.468.16.958.2 1.457.128a2.466 2.466 0 0 0 1.014-.476c.186.063.416.098.7.098.376 0 .817-.06 1.228-.252.017.508.045 1.018.13 1.432.148.717.432 1.388 1.04 1.79.392.26.907.39 1.473.39.256 0 .53-.028.816-.088 1.27-.262 2.122-.852 2.596-1.762.36-.69.487-1.535.543-2.487a9.39 9.39 0 0 0 .408-.296c.627-.497 1.073-1.092 1.396-1.74a.88.88 0 0 0 .18-.063c.39-.15.842-.471 1.212-.95.374-.485.647-1.108.73-1.854.098-.876-.1-1.608-.424-2.21a4.717 4.717 0 0 0-.264-.417c.388-.965.624-2.005.744-3.05.163-1.424.09-2.89-.352-4.12C21.895 1.26 20.457.137 18.14.005A10.72 10.72 0 0 0 17.128 0zm-.047.64a10.1 10.1 0 0 1 .953.04c2.084.119 3.295 1.09 3.965 2.785.388 1.098.457 2.455.302 3.804a11.732 11.732 0 0 1-.593 2.583 3.791 3.791 0 0 0-.588-.448c-.57-.34-1.25-.505-1.985-.537-.37-.017-.728.028-1.064.118-.328-.588-.748-1.075-1.206-1.484a8.107 8.107 0 0 0-.284-.232c.28-.69.447-1.417.495-2.139.058-.853-.06-1.716-.434-2.413C16.276 2.106 15.7 1.6 14.87 1.376 14.2 1.195 13.395 1.17 12.5 1.273a11.696 11.696 0 0 0-.063-.023c.613-.375 1.43-.58 2.367-.598a7.6 7.6 0 0 1 .159-.002 9.1 9.1 0 0 1 2.12.35l-.002.003.028.01c-.002-.007-.003-.015-.005-.022a.424.424 0 0 1 .08.026c-.024-.008-.048-.015-.07-.024l-.002.003-.032-.012zm-4.26.658c.565-.002 1.023.076 1.377.172.622.17 1.03.536 1.338 1.123.31.59.418 1.348.365 2.13-.048.72-.22 1.445-.507 2.12-.357-.218-.738-.403-1.128-.555-1.01-.393-2.12-.575-3.158-.567-.105 0-.21.003-.314.008-.324.014-.643.052-.944.112a8.72 8.72 0 0 0-.394-.396c.18-.565.298-1.152.35-1.742.066-.73-.004-1.467-.31-2.072-.038-.074-.08-.145-.123-.214.93-.09 1.814-.115 2.582-.12.113 0 .227 0 .337.003h.328v-.002zm-4.782.935c.027.005.054.012.08.017.218.418.273 1.013.214 1.668-.05.567-.165 1.13-.336 1.668-.074-.043-.15-.085-.227-.125-.503-.258-1.088-.398-1.694-.397-.543 0-1.105.122-1.58.398-.204.12-.378.266-.52.436C4.8 3.72 5.816 3.13 6.538.82c1.123.103 2.167.452 2.773.695.044.018.07.028.098.038a.634.634 0 0 1 .101.044l-.006-.008.084.033c.02-.086.096-.173.452-.33z"/>' },
      { name: "REST API", icon: '<path d="M7 8l-4 4 4 4M17 8l4 4-4 4M14 4l-4 16"/>' },
    ],
  },
  {
    title: "DevOps",
    skills: [
      { name: "Docker", icon: '<path d="M13.983 11.078h2.119a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.119a.185.185 0 0 0-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 0 0 .186-.186V3.574a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m0 2.716h2.118a.187.187 0 0 0 .186-.186V6.29a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.887c0 .102.082.186.185.186m-2.93 0h2.12a.186.186 0 0 0 .184-.186V6.29a.185.185 0 0 0-.185-.185H8.1a.185.185 0 0 0-.185.185v1.887c0 .102.083.186.185.186m-2.964 0h2.119a.186.186 0 0 0 .185-.186V6.29a.185.185 0 0 0-.185-.185H5.136a.186.186 0 0 0-.186.185v1.887c0 .102.084.186.186.186m5.893 2.715h2.118a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 0 0 .185-.185V9.006a.185.185 0 0 0-.185-.186H5.136a.186.186 0 0 0-.186.185v1.888c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.184.185v1.888c0 .102.082.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 0 0-.75.748 11.376 11.376 0 0 0 .692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 0 0 3.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288z"/>' },
      { name: "GitHub Actions", icon: '<path d="M10.984 13.836a.5.5 0 0 1-.353-.146l-.745-.743a.5.5 0 1 1 .706-.708l.392.391 1.181-1.18a.5.5 0 0 1 .708.707l-1.535 1.533a.504.504 0 0 1-.354.146zm-4.67 1.027a.5.5 0 0 1-.353-.146l-.744-.743a.5.5 0 1 1 .707-.708l.391.391 1.181-1.18a.5.5 0 0 1 .708.707l-1.536 1.533a.504.504 0 0 1-.354.146zM12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm5.894 17.703c0 .552-.448 1-1 1H7.106c-.552 0-1-.448-1-1V8.862c0-.552.448-1 1-1h9.788c.552 0 1 .448 1 1v8.841zm-.788-10.837H6.894a.5.5 0 0 1-.5-.5v-.97c0-.552.448-1 1-1h9.212c.552 0 1 .448 1 1v.97a.5.5 0 0 1-.5.5z"/>' },
      { name: "VPS OVH", icon: '<path d="M17 1l-4 4-4-4M3 7v10M21 7v10M7 23l4-4 4 4M1 7h4v10H1zM19 7h4v10h-4z"/>' },
      { name: "Git", icon: '<path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.66 2.66c.645-.222 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835a2.026 2.026 0 0 1-.605-.406c-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/>' },
    ],
  },
  {
    title: "Outils",
    skills: [
      { name: "Jira", icon: '<path d="M11.571 11.513H0a5.218 5.218 0 0 0 5.232 5.215h2.13v2.057A5.215 5.215 0 0 0 12.575 24V12.518a1.005 1.005 0 0 0-1.005-1.005zm5.723-5.756H5.736a5.215 5.215 0 0 0 5.215 5.214h2.129v2.058a5.218 5.218 0 0 0 5.215 5.214V6.758a1.001 1.001 0 0 0-1.001-1.001zM23.013 0H11.455a5.215 5.215 0 0 0 5.215 5.215h2.129v2.057A5.215 5.215 0 0 0 24.013 12.5V1.005A1.003 1.003 0 0 0 23.013 0z"/>' },
      { name: "Confluence", icon: '<path d="M.87 18.257c-.248.382-.53.875-.763 1.245a.764.764 0 0 0 .255 1.04l4.965 3.054a.764.764 0 0 0 1.058-.26c.199-.332.498-.852.763-1.27 1.835-2.92 3.678-2.574 7.078-.936l4.05 1.946a.764.764 0 0 0 1.023-.392l2.182-5.163a.764.764 0 0 0-.384-1.01l-3.96-1.9c-5.665-2.727-10.49-2.57-16.267 3.646zM23.131 5.743c.248-.382.53-.875.764-1.245a.764.764 0 0 0-.256-1.04L18.674.404a.764.764 0 0 0-1.058.26c-.199.332-.498.852-.763 1.27-1.835 2.92-3.678 2.574-7.078.936L5.725.924a.764.764 0 0 0-1.023.392L2.52 6.479a.764.764 0 0 0 .384 1.01l3.96 1.9c5.665 2.727 10.49 2.57 16.267-3.646z"/>' },
      { name: "Playwright", icon: '<path d="M9.31 4.646c-.903-.048-1.9.345-2.536.923l.31-.025c.804-.065 1.592.154 2.124.606.532.453.812 1.084.754 1.7-.057.612-.433 1.184-1.015 1.543-.582.359-1.33.488-2.017.35.053.087.113.17.18.249.605.72 1.578 1.14 2.632 1.14 1.054 0 2.027-.42 2.632-1.14.605-.72.886-1.69.76-2.626-.206-1.54-1.646-2.65-3.825-2.72zm5.38 0c-.903-.048-1.9.345-2.536.923l.31-.025c.804-.065 1.592.154 2.124.606.532.453.812 1.084.754 1.7-.057.612-.433 1.184-1.015 1.543-.582.359-1.33.488-2.017.35.053.087.113.17.18.249.605.72 1.578 1.14 2.632 1.14 1.054 0 2.027-.42 2.632-1.14.605-.72.886-1.69.76-2.626-.206-1.54-1.646-2.65-3.825-2.72zM4.5 12c-.552 0-1 .672-1 1.5S3.948 15 4.5 15s1-.672 1-1.5S5.052 12 4.5 12zm15 0c-.552 0-1 .672-1 1.5s.448 1.5 1 1.5 1-.672 1-1.5-.448-1.5-1-1.5zM12 16c-2.21 0-4 1.119-4 2.5S9.79 21 12 21s4-1.119 4-2.5S14.21 16 12 16z"/>' },
      { name: "Vitest", icon: '<path d="M12.74 2.32L6 13.18l2.65 1.52L12.74 8.1l4.09 6.6 2.65-1.52L12.74 2.32zM12.74 21.68l-5.22-8.44-2.65 1.52 7.87 12.72 7.87-12.72-2.65-1.52-5.22 8.44z"/>' },
    ],
  },
];
---

<section id="skills">
  <h2 class="section-title">Comp&eacute;tences</h2>
  <div class="skills-grid">
    {categories.map((cat) => (
      <div class="skill-category fade-up">
        <h3 class="category-title">{cat.title}</h3>
        <div class="category-items">
          {cat.skills.map((skill) => (
            <div class="skill-item">
              <div class="skill-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" set:html={skill.icon} />
              </div>
              <span class="skill-name">{skill.name}</span>
            </div>
          ))}
        </div>
      </div>
    ))}
  </div>
</section>

<style>
  #skills {
    padding: 5rem 1.5rem;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .skill-category {
    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 1.5rem;
    transition: border-color var(--transition);
  }
  .skill-category:hover {
    border-color: var(--border-light);
  }

  .category-title {
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-muted);
    margin-bottom: 1.25rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--border);
  }

  .category-items {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .skill-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .skill-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    background: rgba(255, 255, 255, 0.04);
    color: var(--text-secondary);
    flex-shrink: 0;
  }

  .skill-name {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text);
  }

  @media (max-width: 1024px) {
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    .skills-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
