---
interface Skill {
  name: string;
  icon: string;
}

interface SkillCategory {
  title: string;
  skills: Skill[];
}

// Icône générique pour les outils sans SVG brand
const dbIcon = '<path d="M12 2C6.48 2 2 4.02 2 6.5v11C2 19.98 6.48 22 12 22s10-2.02 10-4.5v-11C22 4.02 17.52 2 12 2zM12 4c4.42 0 8 1.34 8 3s-3.58 3-8 3-8-1.34-8-3 3.58-3 8-3zM4 17.5v-2.64c1.7 1.12 4.62 1.86 8 1.86s6.3-.74 8-1.86v2.64c0 1.66-3.58 3-8 3s-8-1.34-8-3z"/><path d="M4 12.5v-2.64c1.7 1.12 4.62 1.86 8 1.86s6.3-.74 8-1.86v2.64c0 1.66-3.58 3-8 3s-8-1.34-8-3z"/>';
const codeIcon = '<path d="M7 8l-4 4 4 4M17 8l4 4-4 4M14 4l-4 16"/>';
const toolIcon = '<path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"/>';
const sparkleIcon = '<path d="M12 2L9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2z"/>';
const diagramIcon = '<rect x="3" y="3" width="7" height="7" rx="1"/><rect x="14" y="3" width="7" height="7" rx="1"/><rect x="3" y="14" width="7" height="7" rx="1"/><rect x="14" y="14" width="7" height="7" rx="1"/><path d="M10 6.5h4M6.5 10v4M17.5 10v4M10 17.5h4"/>';
const botIcon = '<rect x="3" y="11" width="18" height="10" rx="2"/><circle cx="12" cy="5" r="3"/><path d="M12 8v3"/><circle cx="8" cy="16" r="1"/><circle cx="16" cy="16" r="1"/>';

const categories: SkillCategory[] = [
  {
    title: "Frontend",
    skills: [
      { name: "Next.js 15", icon: '<path d="M11.572 0c-.176 0-.31.001-.358.007a19.76 19.76 0 0 1-.364.033C7.443.346 4.25 2.185 2.228 5.012a11.875 11.875 0 0 0-2.119 5.243c-.096.659-.108.854-.108 1.747s.012 1.089.108 1.748c.652 4.506 3.86 8.292 8.209 9.695.779.253 1.621.422 2.58.487.332.022.657.032.893.038l.168.003V14.89l-.003-.003-3.567 5.243a.307.307 0 0 1-.263.143H6.152a.307.307 0 0 1-.256-.474l5.36-7.87-3.394-4.474a.307.307 0 0 1 .248-.489h1.975c.102 0 .198.05.255.135l2.44 3.266 2.44-3.266a.307.307 0 0 1 .255-.135h1.975a.307.307 0 0 1 .248.489l-3.37 4.44 5.34 7.838a.307.307 0 0 1-.256.475h-1.975a.307.307 0 0 1-.262-.143L14.225 14.9v8.1h.003c.258-.006.567-.016.89-.038a12.022 12.022 0 0 0 2.581-.488c4.35-1.402 7.558-5.189 8.21-9.695.096-.659.108-.854.108-1.747 0-.894-.012-1.089-.108-1.748-.652-4.506-3.86-8.292-8.21-9.695a12.033 12.033 0 0 0-2.58-.487 19.71 19.71 0 0 0-.724-.04C14.32.001 14.186 0 14.01 0h-2.438Z"/>' },
      { name: "React 19", icon: '<path d="M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.31 0-.594.066-.84.188C4.37 2.408 3.584 5.283 4.525 9.235c-3.956.952-6.525 2.77-6.525 4.771 0 2 2.571 3.819 6.526 4.77-.941 3.954-.156 6.83 1.737 7.723.245.12.53.187.838.187 1.346 0 3.107-.96 4.888-2.623 1.78 1.654 3.542 2.603 4.887 2.603.31 0 .594-.066.84-.188 1.893-.892 2.678-3.77 1.737-7.722 3.956-.952 6.525-2.77 6.525-4.771s-2.571-3.819-6.526-4.77c.941-3.954.156-6.83-1.737-7.723a1.88 1.88 0 0 0-.838-.187z"/>' },
      { name: "TypeScript", icon: '<path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"/>' },
      { name: "Tailwind CSS", icon: '<path d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z"/>' },
      { name: "shadcn/ui", icon: '<path d="M21.15 2.85a.5.5 0 0 1 0 .707L3.557 21.15a.5.5 0 0 1-.707-.707L20.443 2.85a.5.5 0 0 1 .707 0z"/><path d="M14.15 21.15a.5.5 0 0 1 0-.707L21.743 12.85a.5.5 0 0 1 .707.707l-7.593 7.593a.5.5 0 0 1-.707 0z"/>' },
      { name: "Astro", icon: '<path d="M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944.71 1.126 1.732 1.482 2.8 1.674 1.652.296 3.274.234 4.846-.378.18-.07.35-.158.553-.252.115.75.086 1.478-.148 2.19-.427 1.3-1.315 2.147-2.523 2.66-.213.09-.44.15-.64.262-.605.337-.735.87-.337 1.446.023.033.046.066.07.1-.84.316-1.694.404-2.573.19-.986-.24-1.6-.896-2.01-1.948z"/><path d="M6.168 17.564a7.253 7.253 0 0 1-.16-.757 5.82 5.82 0 0 1 .803-4.037c.882-1.39 2.132-2.278 3.588-2.889.423-.177.86-.319 1.325-.434-.066.312-.135.584-.192.858-.186.888-.16 1.77.032 2.654.091.418.21.832.383 1.228.215.493.518.547.862.158.118-.132.22-.28.32-.43l.047.013c-.032.652-.09 1.305-.27 1.936-.281.984-.778 1.828-1.574 2.456-.406.32-.86.56-1.38.635-1.46.21-2.4-.523-2.487-1.948.005-.015.01-.03.014-.044-.41-.166-.764-.411-1.063-.731-.19-.204-.38-.408-.548-.668z"/><path d="M16.954 9.616c-.024.006-.036.014-.048.014-.88.047-1.652.34-2.343.86-.9.678-1.391 1.58-1.512 2.682-.011.1-.013.2-.02.34.3-.134.555-.275.823-.377 1.072-.408 2.164-.493 3.272-.155.675.206 1.195.595 1.484 1.262.33.758.332 1.544.056 2.319-.375 1.054-1.09 1.827-2.064 2.345-.205.11-.42.2-.632.296a6.12 6.12 0 0 0 2.62-1.822 5.956 5.956 0 0 0 1.345-3.104c.145-1.392-.04-2.72-.684-3.96-.28-.539-.618-1.036-1.018-1.494.246 0 .485-.002.724.002.91.013 1.667.326 2.21 1.088.06.085.113.176.172.268 0-.023.003-.046 0-.069-.175-1.268-1.073-2.412-2.292-2.879a4.36 4.36 0 0 0-2.093-.316z"/>' },
    ],
  },
  {
    title: "Backend & BDD",
    skills: [
      { name: "Node.js", icon: '<path d="M11.998 24c-.321 0-.641-.084-.922-.247L8.14 22.016c-.438-.245-.224-.332-.08-.383.585-.203.703-.25 1.328-.604.065-.037.151-.023.218.017l2.256 1.339a.29.29 0 0 0 .272 0l8.795-5.076a.277.277 0 0 0 .134-.238V6.921a.28.28 0 0 0-.137-.242l-8.791-5.072a.278.278 0 0 0-.271 0L3.075 6.68a.284.284 0 0 0-.139.241v10.15a.27.27 0 0 0 .138.236l2.409 1.392c1.307.654 2.108-.116 2.108-.89V7.787c0-.142.114-.253.256-.253h1.115c.139 0 .255.112.255.253v10.021c0 1.745-.95 2.745-2.604 2.745-.508 0-.909 0-2.026-.551L2.28 18.675a1.857 1.857 0 0 1-.922-1.604V6.921c0-.659.353-1.275.922-1.603L11.076.247a1.924 1.924 0 0 1 1.844 0l8.794 5.07c.572.329.924.945.924 1.604v10.15a1.86 1.86 0 0 1-.924 1.604l-8.794 5.078a1.834 1.834 0 0 1-.922.247z"/>' },
      { name: "Prisma ORM", icon: '<path d="M21.807 18.285L13.553.756a1.324 1.324 0 0 0-1.129-.754 1.31 1.31 0 0 0-1.206.626l-8.952 14.5a1.356 1.356 0 0 0 .016 1.455l4.376 6.778a1.408 1.408 0 0 0 1.58.581l12.703-3.757c.389-.115.694-.39.838-.753.144-.364.13-.768-.037-1.112l.065-.035z"/>' },
      { name: "PostgreSQL", icon: dbIcon },
      { name: "MySQL", icon: dbIcon },
      { name: "MongoDB / NoSQL", icon: '<path d="M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115-.28-.394-.53-.954-.735-1.44-.036.495-.055.685-.523 1.184-.723.566-4.438 3.682-4.74 10.02-.282 5.912 4.27 9.435 4.888 9.884l.07.05A73.49 73.49 0 0 1 11.91 24h.038c.094-.532.199-1.07.308-1.593.047-.193.088-.387.156-.567a.375.375 0 0 1 .19-.189c2.514-1.163 5.544-3.414 4.591-12.096z"/>' },
      { name: "SQL", icon: codeIcon },
      { name: "REST API", icon: codeIcon },
      { name: "DBeaver", icon: toolIcon },
    ],
  },
  {
    title: "DevOps & CI/CD",
    skills: [
      { name: "Docker", icon: '<path d="M13.983 11.078h2.119a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.119a.185.185 0 0 0-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 0 0 .186-.186V3.574a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m0 2.716h2.118a.187.187 0 0 0 .186-.186V6.29a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.887c0 .102.082.186.185.186m-2.93 0h2.12a.186.186 0 0 0 .184-.186V6.29a.185.185 0 0 0-.185-.185H8.1a.185.185 0 0 0-.185.185v1.887c0 .102.083.186.185.186m-2.964 0h2.119a.186.186 0 0 0 .185-.186V6.29a.185.185 0 0 0-.185-.185H5.136a.186.186 0 0 0-.186.185v1.887c0 .102.084.186.186.186m5.893 2.715h2.118a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 0 0 .185-.185V9.006a.185.185 0 0 0-.185-.186H5.136a.186.186 0 0 0-.186.185v1.888c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.184.185v1.888c0 .102.082.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 0 0-.75.748 11.376 11.376 0 0 0 .692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 0 0 3.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288z"/>' },
      { name: "GitHub", icon: '<path d="M12 0C5.374 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23A11.509 11.509 0 0 1 12 5.803c1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.566 21.797 24 17.3 24 12c0-6.627-5.373-12-12-12z"/>' },
      { name: "GitHub Actions", icon: '<path d="M10.984 13.836a.5.5 0 0 1-.353-.146l-.745-.743a.5.5 0 1 1 .706-.708l.392.391 1.181-1.18a.5.5 0 0 1 .708.707l-1.535 1.533a.504.504 0 0 1-.354.146zm-4.67 1.027a.5.5 0 0 1-.353-.146l-.744-.743a.5.5 0 1 1 .707-.708l.391.391 1.181-1.18a.5.5 0 0 1 .708.707l-1.536 1.533a.504.504 0 0 1-.354.146zM12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm5.894 17.703c0 .552-.448 1-1 1H7.106c-.552 0-1-.448-1-1V8.862c0-.552.448-1 1-1h9.788c.552 0 1 .448 1 1v8.841z"/>' },
      { name: "Git", icon: '<path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.66 2.66c.645-.222 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835a2.026 2.026 0 0 1-.605-.406c-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/>' },
      { name: "VPS OVH", icon: '<path d="M17 1l-4 4-4-4M3 7v10M21 7v10M7 23l4-4 4 4M1 7h4v10H1zM19 7h4v10h-4z"/>' },
    ],
  },
  {
    title: "IA & Automatisation",
    skills: [
      { name: "Claude Code", icon: botIcon },
      { name: "Cursor IDE", icon: codeIcon },
      { name: "VS Code + MCP", icon: codeIcon },
      { name: "Agents IA (MCP)", icon: sparkleIcon },
      { name: "MCP Atlassian", icon: '<path d="M.87 18.257c-.248.382-.53.875-.763 1.245a.764.764 0 0 0 .255 1.04l4.965 3.054a.764.764 0 0 0 1.058-.26c.199-.332.498-.852.763-1.27 1.835-2.92 3.678-2.574 7.078-.936l4.05 1.946a.764.764 0 0 0 1.023-.392l2.182-5.163a.764.764 0 0 0-.384-1.01l-3.96-1.9c-5.665-2.727-10.49-2.57-16.267 3.646zM23.131 5.743c.248-.382.53-.875.764-1.245a.764.764 0 0 0-.256-1.04L18.674.404a.764.764 0 0 0-1.058.26c-.199.332-.498.852-.763 1.27-1.835 2.92-3.678 2.574-7.078.936L5.725.924a.764.764 0 0 0-1.023.392L2.52 6.479a.764.764 0 0 0 .384 1.01l3.96 1.9c5.665 2.727 10.49 2.57 16.267-3.646z"/>' },
      { name: "Automatisation docs", icon: toolIcon },
    ],
  },
  {
    title: "Conception",
    skills: [
      { name: "JMerise (MCD/MLD)", icon: diagramIcon },
      { name: "Diagrammes UML", icon: diagramIcon },
      { name: "Playwright (E2E)", icon: '<circle cx="12" cy="12" r="10"/><path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01"/>' },
      { name: "Vitest (unit)", icon: '<path d="M12.74 2.32L6 13.18l2.65 1.52L12.74 8.1l4.09 6.6 2.65-1.52L12.74 2.32zM12.74 21.68l-5.22-8.44-2.65 1.52 7.87 12.72 7.87-12.72-2.65-1.52-5.22 8.44z"/>' },
    ],
  },
  {
    title: "Gestion de projet",
    skills: [
      { name: "Scrum / Agile", icon: '<path d="M17 3a2.83 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/>' },
      { name: "Jira", icon: '<path d="M11.571 11.513H0a5.218 5.218 0 0 0 5.232 5.215h2.13v2.057A5.215 5.215 0 0 0 12.575 24V12.518a1.005 1.005 0 0 0-1.005-1.005zm5.723-5.756H5.736a5.215 5.215 0 0 0 5.215 5.214h2.129v2.058a5.218 5.218 0 0 0 5.215 5.214V6.758a1.001 1.001 0 0 0-1.001-1.001zM23.013 0H11.455a5.215 5.215 0 0 0 5.215 5.215h2.129v2.057A5.215 5.215 0 0 0 24.013 12.5V1.005A1.003 1.003 0 0 0 23.013 0z"/>' },
      { name: "Confluence", icon: '<path d="M.87 18.257c-.248.382-.53.875-.763 1.245a.764.764 0 0 0 .255 1.04l4.965 3.054a.764.764 0 0 0 1.058-.26c.199-.332.498-.852.763-1.27 1.835-2.92 3.678-2.574 7.078-.936l4.05 1.946a.764.764 0 0 0 1.023-.392l2.182-5.163a.764.764 0 0 0-.384-1.01l-3.96-1.9c-5.665-2.727-10.49-2.57-16.267 3.646zM23.131 5.743c.248-.382.53-.875.764-1.245a.764.764 0 0 0-.256-1.04L18.674.404a.764.764 0 0 0-1.058.26c-.199.332-.498.852-.763 1.27-1.835 2.92-3.678 2.574-7.078.936L5.725.924a.764.764 0 0 0-1.023.392L2.52 6.479a.764.764 0 0 0 .384 1.01l3.96 1.9c5.665 2.727 10.49 2.57 16.267-3.646z"/>' },
    ],
  },
];
---

<section id="skills">
  <h2 class="section-title">Comp&eacute;tences</h2>
  <div class="skills-grid">
    {categories.map((cat) => (
      <div class="skill-category fade-up">
        <h3 class="category-title">{cat.title}</h3>
        <div class="category-items">
          {cat.skills.map((skill) => (
            <div class="skill-item">
              <div class="skill-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" set:html={skill.icon} />
              </div>
              <span class="skill-name">{skill.name}</span>
            </div>
          ))}
        </div>
      </div>
    ))}
  </div>
</section>

<style>
  #skills {
    padding: 5rem 1.5rem;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }

  .skill-category {
    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 1.5rem;
    transition: border-color var(--transition);
  }
  .skill-category:hover {
    border-color: var(--border-light);
  }

  .category-title {
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: var(--text-muted);
    margin-bottom: 1.25rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--border);
  }

  .category-items {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  .skill-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .skill-icon {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    background: rgba(255, 255, 255, 0.04);
    color: var(--text-secondary);
    flex-shrink: 0;
  }

  .skill-name {
    font-size: 0.8125rem;
    font-weight: 500;
    color: var(--text);
  }

  @media (max-width: 1024px) {
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    .skills-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
